# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE / Editor configs
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# EPUB temp extraction dirs
tmp/
temp/
*.epub.bak

